@import url('https://fonts.googleapis.com/css?family=Pacifico');
@media screen and (max-width:361px) {
	/*mobile general*/
	body {
		width: 100%;
		margin: auto;
	}
	video {
		display: none;
	}
	/*company name header*/
	h1 {
		background: url("../img/companylogoBG.png");
		height: 60px;
		background-repeat: no-repeat;
		font-size: 25px;
		background-size: 100%;
		background-repeat: no-repeat;
		height: 60px;
		font-family:'Allerta Stencil', sans-serif;
		
	}
	/*blue text style*/
	h2 span {
		display: block;
	}
	h2 {
		margin: 0;
		font-weight: normal;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #2699fb;
		border-color: #2699fb;
		border-width: 0 10px 0 10px;
		text-align: center;
		text-align: center;
	}
	/*product page*/
	article {
		background-color: #ffffff;
		display: flex;
		flex-flow: row wrap;
	}
	article>img {
		padding: 2%;
		margin: auto;
		width: 100%;
		height: 150px;
		object-fit: cover;
	}
	/*images on index page*/
	img.main{
		width: 360px;
		height: 150px;
		border-width:5px;
		border-style:solid;
		border-color:#ffffff;
		object-fit: cover;
	}
	#txt2, #txt3, #txt4 {
		display: none;
	}
	/*navigation*/
	nav {
		background-color: #878787;
		border-color: #878787;
		border-style: solid;
		border-width: 15px;
		width:100%;
		height: 25px;
		text-transform: uppercase;
		float:left;
		display:none;
	}
	a.navlink{
		color: #FFFFFF;
		font-size:11px;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0px 20px 20px 20px;
	}
	label{
		font-size: 25px;
		color: #FFFFFF;
		display:block;
		background-color: #878787;
		border-color: #878787;
		border-style: solid;
		border-width: 15px;
		width:100%;
		height: 25px;
		float:left;
	}
	/*footer*/
	footer {
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		font-size: 15px;
		border-style: solid;
		border-color: #000000;
		border-width: 10px;
		margin: 1px 1px 1px 1px;
	}
	#tog{
		display:none;
	}
	#tog:checked + nav{
		display:block;
	}
	/*media stuff*/
	#web, #tablet {
		display: none;
	}
}

@media screen and (min-width: 361px) and (max-width: 960px) {
	/*tablet general*/
	body {
		width: 100%;
		margin: auto;
	}
	video {
		display: none;
	}
	/*company name header*/
	h1 {
		font-family:'Allerta Stencil', sans-serif;
		background: url("../img/companylogoBG.png");
		height: 150px;
		background-repeat: no-repeat;
		font-size: 80px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	/*images on index page*/
	img .main, #img1, #img2 {
		width: 49%;
		height: 310px;
		object-fit: cover;
	}
	#img2 {
		float: right;
	}
	img .main, #img3 {
		display: none;
	}
	img .main, #img4 {
		width: 100%;
		height: 321px;
		object-fit: cover;
	}
	#txt2, #txt3 {
		display: none;
	}
	/*blue text style*/
	h2 span {
		display: block;
	}
	h2 {
		margin: 0;
		font-weight: normal;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #2699fb;
		border-color: #2699fb;
		border-width: 0 10px 0 10px;
		text-align: center;
		font-size: 63px;
		text-align: center;
	}
	/*contact page*/
	h3 {
		margin: 0;
		font-weight: normal;
		color: #868686;
		background: #f7f7f7;
		border-color: #f7f7f7;
		font-size: 30px;
		text-align: left;
		margin: auto;
		border-width: 30px;
		border-style: solid;
	}
	/*contact form*/
	/*background*/
	form {
		background-color: #f7f7f7;
		border-width: 30px;
		border-style: solid;
		border-color: #f7f7f7;
	}
	/*choices*/
	select {
		font-size: 20px;
		color: #7c7c7c;
		width: 100%;
		font-family: Arial, Helvetica, sans-serif;
	}
	#noWeb {
		display: block;
	}
	fieldset {
		margin: auto;
		background-color: #ffffff;
		width: 80%;
		font-size: 20px;
		color: #c0c0c0;
		font-family: Arial, Helvetica, sans-serif;
		margin: 0px 20px 20px 20px;
	}
	::placeholder {
		font-size: 20px;
		color: #c0c0c0;
		font-family: Arial, Helvetica, sans-serif;
	}
	textarea {
		border: 0px;
		font-family: Arial, Helvetica, sans-serif;
		color: #c0c0c0;
		font-size: 20px;
	}
	input {
		border: 0px;
		font-family: Arial, Helvetica, sans-serif;
		color: #c0c0c0;
		font-size: 20px;
	}
	section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#submit_button {
		color: #ffffff;
		background-color: #2699fb;
		width: 90%;
		height: 35px;
		position: relative;
		left: -1%;
	}
	/*product page*/
	article {
		background-color: #ffffff;
		display: flex;
		flex-flow: row wrap;
	}
	article>img {
		padding: 2%;
		margin: auto;
		width: 40%;
		height: 215px;
		object-fit: cover;
	}
	/*navigation*/
	a.navlink {
		color: #FFFFFF;
		text-decoration: none;
		margin: 0px 20px 0px 20px;
	}
	nav {
		background-color: #878787;
		border-color: #878787;
		border-style: solid;
		border-width: 15px;
		font-size: 25px;
		height: 25px;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
	}
	ul li{
		list-style:none;
		display:inline;
	}
	
	ul li{
		position:relative;
		top:-25px;
		font-size: 25px;
		text-transform: uppercase;
		width:100%;
	}
	/*footer*/
	footer {
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		font-size: 20px;
		border-style: solid;
		border-color: #000000;
		border-width: 10px;
		margin: 1px 1px 1px 1px;
	}
	/*media stuff*/
	#mobileMenu{
		display:none;
	}
	#tog{
		display:none;
	}
	#mobile, #web {
		display: none;
	}
}

@media screen and (min-width: 960px) {
	/* web general*/
	body {
		background: url("../img/background.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		width: 960px;
		margin: auto;
	}
	video {
		z-index: -999;
		position: fixed;
		right: 0;
		width: 100%;
	}
	/*company name header*/
	h1 {
		font-family:'Allerta Stencil', sans-serif;
		background: url("../img/companylogoBG.png");
		background-size: 960px;
		background-repeat: no-repeat;
		font-size: 80px;
		height: 200px;
		background-repeat: no-repeat;
	}
	/*images on index page*/
	img.main {
		width: 100%;
		height: 400px;
		object-fit: cover;
	}
	/*navigation bar */
	a.navlink {
		color: #FFFFFF;
		text-decoration: none;
		margin: 0px 20px 0px 20px;
	}
	nav {
		background-color: #878787;
		border-color: #878787;
		border-style: solid;
		border-width: 15px;
		font-size: 25px;
		height: 25px;
		text-transform: uppercase;
		text-align: center;
		width: 930px;
		
	}
	ul li{
		list-style:none;
		display:inline;
	}
	
	ul li{
		position:relative;
		top:-25px;
		font-size: 25px;
		text-transform: uppercase;
		width:100%;
	}
	/*blue text style*/
	h2 span {
		display: block;
	}
	h2 {
		margin: 0;
		font-weight: normal;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #2699fb;
		border-color: #2699fb;
		border-width: 0 10px 0 10px;
		text-align: center;
		font-size: 80px;
		text-align: center;
	}
	/*contact page*/
	h3 {
		margin: 0;
		font-weight: normal;
		color: #868686;
		background: #f7f7f7;
		border-color: #f7f7f7;
		font-size: 30px;
		text-align: left;
		margin: auto;
		border-width: 30px;
		border-style: solid;
	}
	/*contact form*/
	form {
		background-color: #f7f7f7;
		border-width: 30px;
		border-style: solid;
		border-color: #f7f7f7;
	}
	select {
		font-size: 20px;
		color: #7c7c7c;
		width: 520px;
		float: right;
		font-family: Arial, Helvetica, sans-serif;
	}
	fieldset {
		margin: auto;
		background-color: #ffffff;
		width: 820px;
		font-size: 20px;
		color: #c0c0c0;
		font-family: Arial, Helvetica, sans-serif;
		margin: 0px 20px 20px 20px;
	}
	::placeholder {
		font-size: 20px;
		color: #c0c0c0;
		font-family: Arial, Helvetica, sans-serif;
	}
	textarea {
		border: 0px;
		font-family: Arial, Helvetica, sans-serif;
		color: #c0c0c0;
		font-size: 20px;
	}
	input {
		border: 0px;
		font-family: Arial, Helvetica, sans-serif;
		color: #c0c0c0;
		font-size: 20px;
	}
	section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#submit_button {
		color: #ffffff;
		background-color: #2699fb;
		width: 850px;
		height: 35px;
	}
	/*product page*/
	article {
		background-color: #ffffff;
		border-color: #ffffff;
		border-style: solid;
		display: flex;
		flex-flow: row wrap;
	}
	article>img {
		padding: 8px;
		margin: auto;
		width: 30%;
		height: 200px;
		object-fit: cover;
	}
	/*footer*/
	footer {
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		font-size: 25px;
		border-style: solid;
		border-color: #000000;
		border-width: 10px;
		margin: 1px 1px 1px 1px;
	}
	/*media stuff*/
	#mobile, #tablet {
		display: none;
	}
	#mobileMenu{
		display:none;
	}
	#tog{
		display:none;
	}
}

/* general stuff for all media*/


p{
	text-align:center;
	background:#FFFFFF;
	width:100%;
}


body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
	position: static;
	margin: 0;
	font-family:'Pacifico';
	color:#FFFFFF;
}